body {
    /* margin: 0; */
    font-family: sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-family: "Helvetica Neue"; */
    /* font-size: 12px;*/
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* navbar dimension cuadrado general */
.nav1 {
    width: 100%;
    /* margin: 20px 50px; */
    height: 60px;
    padding: 2px 30px;
    background: rgb(255, 255, 255);
}

/*#btn-nav {
    display: none;
}*/

/* label #btn,
label #cancel {
    color: rgb(34, 194, 61);
    font-size: 30px;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
} */

/* #check {
    display: none;
} */

/* posicion logo*/
.nav1 img{
    width: 50px;
    position: absolute;
    top: 8px;
    left: 0.5%;
}

/* nav label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid rgb(143, 17, 126);
    color: rgb(255, 115, 0);
} */

.nav1 label:hover {
    /* cursor mano sobre los link */
    cursor: pointer;
    background: rgb(0, 0, 0, 0.3);

}

/* ubicacion navbar a la izquierda */
.nav1 ul {

    margin: -15px 15px;
    margin-left: 20px;
}

.nav1 ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    /* En que posicion van a ubicar los link */
    /* text-align: center; */
    /* text-align:right; */
    /* distribucion de los link */
    /* flex-grow: 1; */
    /* lineas separadoras */
    /* border-right: 1px solid #49c524; */
}

/* efecto sombra sobre los link */
nav li:hover {
    /* background: rgba(0, 0, 0, 0.1); */
}

.nav1 ul li a {
    padding: 2px 0px;
    /* margin: 0 15px; */
    /* position: relative; */
    color: rgb(119, 119, 119);
    font-size: 12px;
    /* text-transform: capitalize; */
    /* background: rgb(206, 8, 173); */


    /* display: block; */
    /* espacio entre link */
    /* padding: 13px 12px; */
    /* text-decoration: none; */
}

/* nav ul li a:before {
    // position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: rgb(177, 11, 11);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
} */

.dropdown1 {
    width: 100%;
    height: 80px;
    padding: 20px 30px;
    background: rgb(0, 0, 0);
}

.dropdown1 .nav2-link2 {
    margin-left: 20px;
    text-align:justify;
    font-size: 14px;
}

.footer-bottom{
    font-family: Helvetica Neue;
    height: 60px;
    width: 100%;
	padding: 17px 0px;
    text-align: center;
	color: #fff;
	background: rgb(30, 30, 30);
}
/* barra -footer */
#nav-footer a {
    color: #404041 !important;
    border-top: 4px solid #939598;
    text-decoration: none;
    font-family: Georgia,"Times New Roman";
    font-weight: normal;
    margin-left: 12px;
    width: 112px;
    display: block;
    padding: 20px;
    margin-left: 90px;
    padding-right: 180px;
    /* margin: 0 15px; */
}

#nav-footer a:hover {
        color: #eb8c00 !important;
    }

#nav-footer:hover a {
    border-top: 4px solid #eb8c00;
}

.parfooter p {
    margin-left:90px!important; 
    margin-right:90px!important; 
    line-height: initial;
    color: rgb(133, 133, 133);
}

/* -.--------- */

@media (max-width:767px){
    .nav1 ul li a {
        font-size: 0px;
    }
}

@media (max-width:700px){
    .nav1 {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        line-height: 0; /* sólo en caso de elementos inline-block */
        overflow: hidden;
    }
}

/* @media (max-width:580px){
    .img-fluid {
        width: 50px;

        top: 8px;
        left: 0.5%;
    }
} */










main {
    padding: 20px;
}