body {
    /* margin: 0; */
    font-family: sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-family: "Helvetica Neue"; */
    /* font-size: 12px;*/
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* navbar dimension cuadrado general */
nav {
    width: 100%;
    /* margin: 20px 50px; */
    height: 60px;
    padding: 0px 30px;
    background: rgb(16, 78, 212);
}

/*#btn-nav {
    display: none;    
}*/

/* label #btn,
label #cancel {
    color: rgb(34, 194, 61);
    font-size: 30px;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
} */

/* #check {
    display: none;    
} */

/* posicion logo*/
nav img{
    width: 50px;
    position: absolute;
    top: 8px;
    left: 0.5%;
}

nav label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid rgb(143, 17, 126);
    color: rgb(255, 115, 0);
}

nav label:hover {
    /* cursor mano sobre los link */
    cursor: pointer;
    background: rgb(0, 0, 0, 0.3);
    
}

/* ubicacion navbar a la izquierda */
nav ul {
    /* float: left; */
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    /* En que posicion van a ubicar los link */
    /* text-align: center; */
    /* text-align:right; */
    /* text-align: center; */
    /* distribucion de los link */
    /* flex-grow: 1; */
    /* lineas separadoras */
    /* border-right: 1px solid #49c524; */
}

/* efecto sombra sobre los link */
nav li:hover {
    /* background: rgba(0, 0, 0, 0.1); */
}

nav ul li a {
    padding: 5px 0px;
    /* margin: 0 15px; */
    /* position: relative; */
    color: rgb(119, 119, 119);
    font-size: 12px;
    /* text-transform: capitalize; */
    /* background: rgb(206, 8, 173); */


    /* display: block; */
    /* espacio entre link */
    /* padding: 13px 12px; */    
    /* text-decoration: none; */
}

/* nav ul li a:before {
    // position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: rgb(177, 11, 11);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
} */

@media (max-width:767px){
    nav ul li a {
        font-size: 0px;
    }
}

@media (max-width:700px){
    nav { 
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        line-height: 0; /* sólo en caso de elementos inline-block */
        overflow: hidden;
    }    
}





main {
    padding: 20px;
}